:root {
  --white: #ffffff;
  --black: #252323;
  --gray: #f5f5f5;
  --blue: #006eb8;
  --orange: #f57e00;
}

* {
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  min-height: 100vh;
  background-color: var(--white);
  color: var(--black);
}

body * {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Changa", Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.bold {
  font-weight: 600;
}

header {
  padding: 5px 3%;
  background-color: var(--blue);
  display: flex;
  justify-content: space-between;
  color: var(--white);
}

header > * {
  flex: 1 1 auto;
}

.logo-link {
  max-width: 170px;
}

header .logo-link {
  display: flex;
  align-self: center;
  width: 20%;
}

.site-name {
  font-size: 16px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .site-name {
  padding-left: 6%;
}

.site-name span {
  display: inline-block;
  padding: 2px 0;
  font-family: "Changa", Arial, Helvetica, sans-serif;
}

#js-mob-menu-btn {
  font-size: 2rem;
  border: 0;
  background: none;
  color: var(--white);
  position: absolute;
  z-index: 2;
  right: 2.5%;
  top: 1.5%;
  cursor: pointer;
}

#js-mob-menu-btn::before {
  content: "☰";
}

.js-mobile-open #js-mob-menu-btn::before {
  content: "X";
}

nav ul {
  display: block;
  height: 0;
  overflow: hidden;
  background-color: black;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.5s ease;
}

.js-mobile-open ul {
  height: auto;
  transform: scaleY(1);
}

nav a {
  display: block;
  text-align: center;
  padding: 15px;
  color: var(--white);
  text-decoration: none;
}

nav a.active,
nav a:hover {
  background-color: var(--gray);
  color: var(--black);
}

.hero-container {
  position: relative;
  padding-top: 42.95102%;
  overflow: hidden;
}

.hero-img {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
}

.btn {
  border: none;
  background-color: var(--orange);
  color: var(--black);
  padding: 13px 18px;
  border-radius: 10px;
}

.btn-join {
  position: absolute;
  bottom: 0;
  left: calc(50% - 81px); /*width of the btn is 162*/
  margin-bottom: 20px;
}

.home-section {
  background-color: var(--gray);
  padding: 10px;
  margin-top: 30px;
  box-shadow: -1px 2px 12px -2px var(--black);
}

.home-section-header {
  border-bottom: 1px solid var(--black);
  font-size: 18px;
  padding-bottom: 5px;
}

.home-section-content {
  padding: 10px 10px 0;
}

.more-info {
  text-decoration: none;
  display: inline-block;
  margin-top: 4px;
  color: var(--blue);
  font-weight: bold;
}

.more-info:hover {
  text-decoration: underline;
}

.weather .home-section-content {
  display: grid;
  grid-template: repeat(4, 1fr) / 1fr 1fr;
  column-gap: 10px;
}

.weather .weather-icon {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  font-size: 38px;
  line-height: 100%;
  padding-top: 10px;
}

.weather-icon,
.weather-hum,
.weather-wind {
  text-align: right;
}

.spotlights-section {
  margin-top: 40px;
  padding: 0 20px;
}

.spotlights-header {
  text-align: center;
  color: var(--blue);
}

.spotlight-item {
  background-color: var(--gray);
  margin-top: 20px;
  padding: 15px;
  box-shadow: -1px 2px 12px -2px var(--black);
}

.spotlight-header {
  font-size: 18px;
}

.spotlight-slogan {
  text-align: right;
  margin-bottom: 8px;
}

.spotlight-contacts {
  display: block;
  text-decoration: none;
  text-align: center;
  color: var(--blue);
}

footer {
  margin-top: 50px;
  background-color: var(--blue);
}

footer * {
  color: var(--white);
}

.footer-logo-container {
  padding: 20px 20px 0;
  display: grid;
  grid-template: auto auto / minmax(30%, 170px) 70%;
}

footer .logo-link {
  grid-row: 1 / 3;
}

footer .site-name,
footer .footer-address {
  padding-left: 20px;
}

.footer-address {
  margin-top: 5px;
}

.footer-contacts-container {
  margin-top: 10px;
}

.footer-contacts {
  padding: 2px;
  display: block;
  text-align: center;
  text-decoration: none;
}

.footer-contacts:hover {
  text-decoration: underline;
}

.footer-info-container {
  background-color: var(--black);
  margin-top: 20px;
  padding: 18px 0;
}

.footer-info-container * {
  color: var(--orange);
}

.footer-info-line {
  text-align: center;
  padding: 2px;
}
