:root {
  --white: #ffffff;
  --black: #252323;
  --gray: #f5f5f5;
  --blue: #006eb8;
  --orange: #f57e00;
  --table-board: 2px solid var(--black);
}

* {
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  min-height: 100vh;
  background-color: var(--white);
  color: var(--black);
}

body * {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Changa", Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.bold {
  font-weight: 600;
}

.mt15 {
  margin-top: 15px;
}

.mb10 {
  margin-bottom: 10px;
}

header {
  padding: 5px 3%;
  background-color: var(--blue);
  display: flex;
  justify-content: space-between;
  color: var(--white);
}

header > * {
  flex: 1 1 auto;
}

.logo-link {
  max-width: 170px;
}

header .logo-link {
  display: flex;
  align-self: center;
  width: 20%;
}

.site-name {
  font-size: 16px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .site-name {
  padding-left: 6%;
}

.site-name span {
  display: inline-block;
  padding: 2px 0;
  font-family: "Changa", Arial, Helvetica, sans-serif;
}

#js-mob-menu-btn {
  font-size: 2rem;
  border: 0;
  background: none;
  color: var(--white);
  position: absolute;
  z-index: 2;
  right: 2.5%;
  top: 1.5%;
  cursor: pointer;
}

#js-mob-menu-btn::before {
  content: "☰";
}

.js-mobile-open #js-mob-menu-btn::before {
  content: "X";
}

nav ul {
  display: block;
  height: 0;
  overflow: hidden;
  background-color: black;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.5s ease;
}

.js-mobile-open ul {
  height: auto;
  transform: scaleY(1);
}

nav a {
  display: block;
  text-align: center;
  padding: 15px;
  color: var(--white);
  text-decoration: none;
}

nav a.active,
nav a:hover {
  background-color: var(--gray);
  color: var(--black);
}

.hero-container {
  position: relative;
  padding-top: 42.95102%;
  overflow: hidden;
}

.hero-img {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
}

.btn {
  border: none;
  background-color: var(--orange);
  color: var(--black);
  padding: 13px 18px;
  border-radius: 10px;
}

.btn-join {
  position: absolute;
  bottom: 0;
  left: calc(50% - 81px); /*width of the btn is 162*/
  margin-bottom: 20px;
  text-decoration: none;
}

.home-section {
  background-color: var(--gray);
  padding: 10px;
  margin-top: 30px;
  box-shadow: -1px 2px 12px -2px var(--black);
}

.home-section-header {
  border-bottom: 1px solid var(--black);
  font-size: 18px;
  padding-bottom: 5px;
}

.home-section-content {
  padding: 10px 10px 0;
}

.more-info {
  text-decoration: none;
  display: inline-block;
  margin-top: 4px;
  color: var(--blue);
  font-weight: bold;
}

.more-info:hover {
  text-decoration: underline;
}

.weather .home-section-content {
  display: grid;
  grid-template: repeat(4, 1fr) / 1fr 1fr;
  column-gap: 10px;
}

.weather .weather-icon {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  font-size: 38px;
  line-height: 100%;
  padding-top: 10px;
}

.weather-icon,
.weather-hum,
.weather-wind {
  text-align: right;
}

.spotlights-section {
  margin-top: 40px;
  padding: 0 20px;
}

.spotlights-header {
  text-align: center;
  color: var(--blue);
}

.spotlight-item {
  background-color: var(--gray);
  margin-top: 20px;
  padding: 15px;
  box-shadow: -1px 2px 12px -2px var(--black);
}

.spotlight-header {
  font-size: 18px;
}

.spotlight-slogan {
  text-align: right;
  margin-bottom: 8px;
}

.spotlight-contacts {
  display: block;
  text-decoration: none;
  text-align: center;
  color: var(--blue);
}

footer {
  margin-top: 50px;
  background-color: var(--blue);
}

footer * {
  color: var(--white);
}

.footer-logo-container {
  padding: 20px 20px 0;
  display: grid;
  grid-template: auto auto / minmax(30%, 170px) 70%;
}

footer .logo-link {
  grid-row: 1 / 3;
}

footer .site-name,
footer .footer-address {
  padding-left: 20px;
}

.footer-address {
  margin-top: 5px;
}

.footer-contacts-container {
  margin-top: 10px;
}

.footer-contacts {
  padding: 2px;
  display: block;
  text-align: center;
  text-decoration: none;
}

.footer-contacts:hover {
  text-decoration: underline;
}

.footer-info-container {
  background-color: var(--black);
  margin-top: 20px;
  padding: 18px 0;
}

.footer-info-container * {
  color: var(--orange);
}

.footer-info-line {
  display: block;
  text-align: center;
  padding: 2px;
}

/* Discover page */

.discover main {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discover .sidebar {
  max-width: 400px;
  padding-bottom: 40px;
}

.demographics,
.facts,
.visits {
  border: 1px solid black;
  padding: 20px;
}

.demographics h2,
.facts h2,
.visits h2 {
  font-size: 20px;
  padding-bottom: 10px;
}

.discover section + section {
  margin-top: 10px;
}

.facts li {
  margin-bottom: 8px;
}

.calendar {
  border: 1px solid black;
  border-radius: 15px;
  overflow: hidden;
}

.calendar-nav {
  display: flex;
  background: lightgrey;
}

.calendar .month {
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  padding: 10px;
  flex-grow: 1;
}

.calendar .arrow {
  cursor: pointer;
  font-size: 25px;
  line-height: 100%;
  padding: 10px 15px;
}

.calendar-body {
  padding: 5px 5px 10px;
}

.calendar-weekdays span {
  display: inline-block;
  width: calc(100% / 7);
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
}

.calendar-dates {
  display: flex;
  flex-wrap: wrap;
}

.calendar-dates span {
  display: inline-block;
  width: calc(100% / 7);
  text-align: center;
  line-height: 120%;
  padding: 5px;
}

.calendar-dates span.current {
  color: var(--black);
  font-weight: bold;
  outline: 3px solid var(--black);
  background-color: var(--orange);
}

.discover-figure {
  margin-bottom: 30px;
}

.discover-figure figcaption {
  padding: 15px 15px 20px;
  text-align: center;
}

.discover-picture {
  width: 100%;
  height: auto;
}

/* Join Page */

.form-name {
  padding: 40px 0 0;
  text-align: center;
}

.join-form {
  max-width: 90%;
  margin: 0 auto;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
  padding: 25px 15px;
  border-radius: 6px;
}

.join-form .label {
  display: block;
  margin-bottom: 20px;
}

.join-form input[type="text"],
.join-form input[type="email"],
.join-form input[type="tel"],
.join-form textarea,
.join-form select {
  width: 100%;
  background-color: var(--gray);
  appearance: none;
  border-radius: 6px;
  padding: 12px;
  cursor: pointer;
  border: none;
  outline: 1px solid var(--black);
}

.join-form input:required {
  border-left: solid 8px var(--orange);
}

.join-form input:required:valid {
  border-left: solid 8px var(--blue);
}

.label-value {
  display: block;
  padding-bottom: 2px;
}

.join-form .submit {
  margin-top: 20px;
  padding: 16px 40px;
  background-color: var(--black);
  color: var(--orange);
  font-weight: bold;
  border-radius: 6px;
  border: none;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.join-form .submit:hover {
  background-color: var(--blue);
  color: var(--white);
}

/* Join page Table */

.membership-info {
  padding-bottom: 20px;
}

.table-wrapper {
  max-width: 100%;
  overflow-x: auto;
  padding-bottom: 10px;
}

.table-title {
  text-align: center;
  padding: 20px 0;
  font-weight: bold;
}

.join-page table {
  background-color: white;
  border-collapse: collapse;
  margin: 0 auto;
}

.join-page thead {
  background-color: var(--black);
  color: white;
}

.join-page table caption {
  caption-side: bottom;
  background-color: var(--white);
  font-size: 18px;
  padding-top: 10px;
}

.join-page th,
.join-page td {
  padding: 15px 20px;
  text-align: center;
  border-top: var(--table-board);
  border-left: var(--table-board);
  font-weight: bold;
}

.join-page th:not(:first-child) {
  background-color: var(--blue);
}

.join-page td:last-child,
.join-page th:last-child {
  border-right: var(--table-board);
}

.join-page tr:last-child {
  border-bottom: var(--table-board);
}

.join-page tr:nth-child(even) {
  background-color: #eee;
}

.thankyou-page .content-wrapper {
  margin: 40px auto;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 6px;
}
