:root {
  --byuiblue: rgb(0, 110, 182);
  --main-padding: 40px;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;

  --theme-text-color: black;
  --theme-bg-color: white;
  background-color: var(--theme-bg-color);
}

body.themeDark {
  --theme-text-color: #eaeaea;
  --theme-bg-color: black;
}

* {
  padding: 0;
  margin: 0;
  max-width: 100%;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

p,
h1,
h2,
h3,
span,
li,
option {
  color: var(--theme-text-color);
}

.themeDark a {
  color: var(--theme-text-color);
}

ul {
  list-style: none;
}

.m5 {
  margin: 5px;
}

.p8 {
  padding: 8px;
}

header {
  background-color: var(--byuiblue);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

header > span {
  padding-left: 20px;
  font-size: 24px;
  color: white;
  font-weight: bold;
}

header > img {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}

.themeToggleContainer {
  position: absolute;
  top: 15px;
  right: 20px;
}

#themeToggle {
  opacity: 0;
  position: absolute;
}

.themeIcon {
  display: inline-block;
  width: 18px;
  height: 18px;
  overflow: hidden;
  font-size: 15px;
  color: white;
}

#switch {
  width: 50px;
  height: 26px;
  padding: 5px;
  background-color: #111;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#circle {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

body[data-theme="dark"] #circle {
  transform: translateX(24px);
}

nav {
  position: relative;
}

#js-mobile-menu {
  font-size: 2rem;
  border: 0;
  background: none;
  color: #000;
  position: absolute;
  right: 20px;
  top: -48px;
  cursor: pointer;
}

#js-mobile-menu::before {
  content: "☰";
}

.js-mobile-open #js-mobile-menu::before {
  content: "X";
}

nav ul {
  display: block;
  height: 0;
  overflow: hidden;
  background-color: black;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.5s ease;
}

.js-mobile-open ul {
  display: block;
  height: auto;
  transform: scaleY(1);
}

nav a {
  display: block;
  text-align: center;
  padding: 15px;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav a.active,
nav a:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

main {
  padding-bottom: 40px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.hero {
  position: relative;
  overflow: hidden;
}

.hero picture {
  display: block;
}

.hero img {
  width: 100%;
  height: auto;
}

.herolabel {
  position: absolute;
  width: 218px;
  font-size: 15px;
  text-align: center;
  bottom: 20px;
  right: calc(50% - 109px);
  background-color: var(--theme-bg-color);
  color: var(--theme-text-color);
  border: 1px solid rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 3rem #fff;
  opacity: 0.6;
  padding: 10px;
  white-space: nowrap;
}

.main-content {
  padding: 0 20px 40px;
}

h1 {
  font-size: 22px;
  text-align: center;
  margin: 30px 0 20px;
  border-bottom: 1px solid var(--theme-text-color);
}

.card {
  margin-top: 15px;
  border: 1px solid var(--theme-text-color);
  border-radius: 5px;
  overflow: hidden;
}

.card h2 {
  background-color: var(--byuiblue);
  color: white;
  text-align: center;
  padding: 12px;
}

.card ul {
  padding: 15px 15px 8px;
}

.card li {
  margin-bottom: 7px;
}

.week-number {
  min-width: 70px;
  padding-right: 5px;
}

.week-info a + a {
  padding-left: 5px;
}

.week-info a + a::before {
  content: "|";
  padding-right: 5px;
}

.card.activities li {
  display: flex;
}

.card.information li {
  text-align: center;
  margin: 10px;
}

#google-map-iframe {
  max-width: 100%;
}

footer {
  font-size: 18px;
  background-color: var(--byuiblue);
  padding: 20px;
}

footer * {
  color: white;
}

footer p {
  text-align: center;
}

footer p:first-child > span {
  display: block;
  padding: 5px;
}

#lastModified {
  margin-top: 10px;
  color: yellow;
  font-size: 14px;
}

.mw66 {
  max-width: 66%;
}

.weather-line {
  min-height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.weather-line img {
  background-color: white;
  margin: 8px;
}

.weather-line > p {
  width: 100%;
}
