@media screen and (min-width: 700px) {
  header span {
    font-size: 32px;
  }

  #js-mobile-menu {
    display: none;
  }

  nav ul {
    display: flex;
    height: auto;
    transform: scaleY(1);
  }

  nav li {
    flex: 1 1 100%;
  }

  main {
    max-width: 960px;
  }

  .herolabel {
    font-size: 16px;
    right: 30px;
  }

  .cardWrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
  }
}
